In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gudhi as gd

import utils as u
from datetime import datetime
import matplotlib.dates as mdates

In [24]:
# List of file paths
file_paths = ["snow_oct.csv", "snow_nov.csv", "snow_dec.csv", "snow_jan.csv"]

# Function to process each file
def process_file(file_path):
    # Read file and skip metadata rows
    df = pd.read_csv(file_path, skiprows=4)
    
    # Melt data to long format
    melted = pd.melt(
        df,
        id_vars=["GHCN ID", "Station Name", "County", "State", "Elevation", "Latitude", "Longitude"],
        var_name="Date",
        value_name="Snowfall"
    )
    
    # Add unique station identifier for clarity
    melted["Station"] = melted["Station Name"] + " (" + melted["County"] + ")"
    
    return melted[["Date", "Station", "Snowfall"]]

# Process and concatenate all files
data_long = pd.concat([process_file(file) for file in file_paths], ignore_index=True)

# Pivot data so site names become columns
data_pivot = data_long.pivot(index="Date", columns="Station", values="Snowfall")

# Clean up the index and column names (optional)
data_pivot.index.name = "Date"
data_pivot.columns.name = None

# Handle missing values: Replace "M" and "T" with NaN
data_pivot.replace({"M": None, "T": 0.01}, inplace=True)

# Display the resulting DataFrame
print(data_pivot)

       ABSAROKEE 3.0 SW (STILLWATER) ADEL (CASCADE) ALBERTON (MINERAL)  \
Date
Dec 1                            NaN            NaN                  0
Dec 10                           NaN            NaN                  0
Dec 11                           NaN            NaN                  0
Dec 12                           NaN            NaN                  0
Dec 13                           NaN            NaN                0.3
...                              ...            ...                ...
Oct 5                            NaN            NaN                  0
Oct 6                            NaN            NaN                  0
Oct 7                            NaN            NaN                  0
Oct 8                            NaN            NaN                  0
Oct 9                            NaN            NaN                  0

       ALDER 19S (MADISON) ANACONDA (DEERLODGE) ANACONDA 7.4 NW (DEERLODGE)  \
Date
Dec 1                 None                    0                           0
Dec 10                None                    0                        0.01
Dec 11                None                    0                           0
Dec 12                None                    0                           0
Dec 13                None                    0                           0
...                    ...                  ...                         ...
Oct 5                  NaN                 None                           0
Oct 6                  NaN                 None                           0
Oct 7                  NaN                 None                           0
Oct 8                  NaN                 None                           0
Oct 9                  NaN                 None                           0

       ARLEE 16.7 WNW (SANDERS) ASHLAND 11.9 E (POWDERRIVER)  \
Date
Dec 1                       NaN                          NaN
Dec 10                      NaN                          NaN
Dec 11                      NaN                          NaN
Dec 12                      NaN                          NaN
Dec 13                      NaN                          NaN
...                         ...                          ...
Oct 5                       NaN                          NaN
Oct 6                       NaN                          NaN
Oct 7                       NaN                          NaN
Oct 8                       NaN                          NaN
Oct 9                       NaN                          NaN

       ASHLAND 9.7 ESE (POWDERRIVER) AUGUSTA (LEWISANDCLARK)  ...  \
Date                                                          ...
Dec 1                              0                    None  ...
Dec 10                           0.7                       0  ...
Dec 11                           4.2                       0  ...
Dec 12                          None                       0  ...
Dec 13                             0                    None  ...
...                              ...                     ...  ...
Oct 5                              0                       0  ...
Oct 6                              0                       0  ...
Oct 7                           None                       0  ...
Oct 8                              0                       0  ...
Oct 9                           None                       0  ...

       WILSALL 1S (PARK) WINNETT 12 SW (PETROLEUM) WINNETT 6NNE (PETROLEUM)  \
Date
Dec 1                  0                       NaN                        0
Dec 10                 0                       NaN                        0
Dec 11                 0                       NaN                        0
Dec 12                 0                       NaN                        0
Dec 13                 0                       NaN                        0
...                  ...                       ...                      ...
Oct 5               None                       NaN                      NaN
Oct 6               None                       NaN                      NaN
Oct 7               None                       NaN                      NaN
Oct 8               None                       NaN                      NaN
Oct 9               None                       NaN                      NaN

       WISE RIVER 3 WNW (BEAVERHEAD) WOLF POINT (ROOSEVELT)  \
Date
Dec 1                              0                      0
Dec 10                             0                   0.01
Dec 11                             0                      0
Dec 12                             0                    0.3
Dec 13                             0                      0
...                              ...                    ...
Oct 5                              0                      0
Oct 6                           None                      0
Oct 7                              0                      0
Oct 8                              0                      0
Oct 9                           None                      0

       WOLF POINT INTL AP (ROOSEVELT) YAAK 0.3 W (LINCOLN)  \
Date
Dec 1                             NaN                    0
Dec 10                            NaN                 None
Dec 11                            NaN                 None
Dec 12                            NaN                 None
Dec 13                            NaN                 None
...                               ...                  ...
Oct 5                            None                    0
Oct 6                            None                    0
Oct 7                            None                    0
Oct 8                            None                 None
Oct 9                            None                 None

       YAAK 9NNE (LINCOLN) YELLOWTAIL DAM (BIGHORN) ZORTMAN (PHILLIPS)
Date
Dec 1                    0                        0                  0
Dec 10                   0                        0                  0
Dec 11                 0.4                        0                0.7
Dec 12                   0                        0                  0
Dec 13                0.01                        0                  0
...                    ...                      ...                ...
Oct 5                    0                     None               None
Oct 6                    0                     None               None
Oct 7                    0                     None               None
Oct 8                    0                     None               None
Oct 9                    0                     None               None

[123 rows x 318 columns]